$ch-background: #2d2d2d;

// Typography
$ch-maintext: #fff;
$ch-failure-text: #F25F5C;
$ch-success-text: #59CD90;

// Components 
$ch-input-border: #c0c0c0;
$ch-button: rgba(242,101,34, 1);
$ch-button-opaque: rgba(242,101,34, 0.2);
$ch-button-opaque-border: rgba(242,101,34, 0.6);