* {
    font-family: 'Lato', sans-serif;
    color: $ch-maintext;
    font-size: 20px
}

body {
    background-color: $ch-background;
    color: $ch-maintext;
}

a,
button,
input {
    border: none;
    outline: none;
    line-height: 1em;
    height: 75px;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: $least-margin;
    margin-bottom: $least-margin;
    text-decoration: none;
}

// * {
//     background-color: rgba(100,0,0,0.1);
// }