// Variables
@import './colors';
$container-width: 350px;
$input-height: 75px;

// Margins
$least-margin: 10px;

// Imports
@import '../containers/wrapper/wrapper';
@import '../components/answer/answer';
@import '../components/loader/loader';
@import '../components/response/response';
@import './framework';
@import './components';